
CREATE TABLE [dbo].[TBUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Family] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBUsers] ON 

INSERT [dbo].[TBUsers] ([Id], [Name], [Family]) VALUES (1, N'avi', N'cohen')
INSERT [dbo].[TBUsers] ([Id], [Name], [Family]) VALUES (2, N'ben', N'bobo')
SET IDENTITY_INSERT [dbo].[TBUsers] OFF
GO
USE [master]
GO

